@font-face {
    font-family: "HarmonyOS Sans SC Medium";
    src: url("HarmonyOS_Sans_SC_Medium.eot"); /* IE9 */
    src: url("HarmonyOS_Sans_SC_Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("HarmonyOS_Sans_SC_Medium.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("HarmonyOS_Sans_SC_Medium.woff") format("woff"), /* chrome, firefox */
    url("HarmonyOS_Sans_SC_Medium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("HarmonyOS_Sans_SC_Medium.svg#HarmonyOS Sans SC Medium") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


